<div class="container">
<div class="options">
    <h1 style="font-size:6vw;">Food Zone</h1>
</div>
<div class="wrapper">
    <div class="card">
        <img src="https://images.pexels.com/photos/4007053/pexels-photo-4007053.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
        <div class="info">
            <h1>Catering</h1>
            <p>for specialised needs </p>
            <a href="#" class="btn"> read more</a>
        </div>

    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/391213/pexels-photo-391213.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
        <div class="info">
            <h1>Wines</h1>
                <p>Choose form our premium selection of wines exclusibvely offfered here  </p>
                    <a href="#" class="btn">read more</a>
               
            
        </div>
    </div>
    <div class="card">
      <img src="https://images.pexels.com/photos/4392030/pexels-photo-4392030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
     <div class="info">
       <h1>Ordering</h1>
       <p>for fastfood order :delivery or nearest site pickup</p>
       <a [routerLink]="'/deliveryOptions'" class="btn">read more</a>
     </div>
    </div>
</div>
</div>
