<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<div class="container">
    <h2>about us </h2>
<div class="about-section">
    
    <div class="contact-info">
        <div><i class="fas fa-map-marker-alt"></i>address,city,country</div>
        <div><i class="fas fa-envelope"></i><a href="realligifted@gmail.com">Email: Foodzone@gmail.com</a></div>
        <div><i class="fas fa-phone"></i>cell : 246888987</div>
        <div><i class="fas fa-map-marker-alt"></i>opening hours</div>
    </div>


<div class="contact-form">
 <h2 >Contact Us</h2>
 <form class="contact" action="" method="post">
     <input type="text" name="name" class="text-box" placeholder="your Name" >
     <input type="email" name="email" class="text-box" placeholder="your Email">
     <textarea name="message" rows="5" placeholder="your message"></textarea><br><br>
     <input type="submit" name="submit" class="send-btn" value="send">
  </form>
</div>
</div>
</div>