<div class="bodycontainer">
 <div class="buttoncontainer"> 
   <button [routerLink]="'/deliveryOptions'"  routerLinkActive="active" class="button button1">jaysburger</button>
<button [routerLink]="'/amberPizza'"  routerLinkActive="active" class="button button2">Amber Pizza</button>
<button [routerLink]="'/wraps'" routerLinkActive="active" class="button button3" >Red</button>
<button routerLinkActive="active" class="button button4">Gray</button>
<button routerLinkActive="active" class="button button5">Black</button>
</div>
  <div class="container3">
    <h3> make your order</h3>
    <div class="row">
      <div class="card" *ngFor="let product of products">
        <img src="{{product.productImage}}" style="height:60%; width: 95%;">
        <h4>{{[product.productName]}}</h4> 
        <h5>{{product.productPrice |currency: 'JMD':'symbol-narrow'}}</h5>
        
        <a href="#" class="btn1"> add to cart</a>
     </div>
    </div>
    <section>
    
        
      
      
     