<section>
    <div class="container">
     <div class="image1container">

      <div class="text-block">
       <H3 style="font-size: 3vw; text-shadow: solid 2px 2px #FF0000">Get The App</H3>
       <P style="font-size: 3vw;  text-shadow: solid 2px 2px #FF0000">Explore greater deals and  range of Quisine! </P>
      </div>
        <button class="btn">Download</button>
     </div>
    <div class="image2container"> 
    <div class="text-block">
        <H3 style="font-size:3vw;">Speed</H3>
        <P style="font-size: 3vw;">Instant, Intelligent & Intuitive. A fully digital restaurant 24*7 on your phone. Get To Go account now!</P>
    </div>
        <button class="btn">Search</button>
</div>
    </div>
</section>
